.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.login-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.05);
  border-radius: 8px;
  padding: 30px 0;
}
